<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to your Digital Wallet</h1>
    <img src="/wallet/static/images/wallet_mine.webp">
   

    <form action="{% url 'all_customers' %}" method="post">
        {% csrf_token %}
        
        
         <button type="submit" name='mybtn2' value={{customers_get_path}}>Get started</button>
         </form>



</body>
</html>